*{
  margin: 0px;
  padding: 0px;

}

.container{

width: 1140px;
float: left;

}


.form-left{

	background-image: url("../img/back1.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
    width: 50%;
    float: left;
}


.form-left h2{

color: white;

padding: 40p;

margin-top: 40px;
}

.form-left p{



}

.form-left ul{


}
.form-left ul li{



}

.form-right{

background-color: blue;
width: 50%;
float: left;

}


